body,html {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header, .site-footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    text-align: center;
}
.header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}


/* 사이드바와 메인 컨텐츠 컨테이너 */
.flex-container {
    display: flex;
    height: 100vh;
}

/* 사이드바 스타일 */
.sidebar {
    flex: 2;
    border-right: 1px solid #ccc;
    padding: 20px;
    overflow: auto;
}

/* 메인 컨텐츠 영역 */
.main-content {
    flex: 10;
    display: flex;
    flex-direction: column;
}

/* 본문 메인 영역 */
.main-body {
    flex: 8;
    padding: 20px;
    overflow: auto;
}

/* 본문 세컨더리 영역 (On This Page) */
.body-secondary {
    flex: 2;
    background-color: #f8f9fa;
    padding: 20px;
    overflow: auto;
}

.content {
    margin-top: 60px; /* Adjust based on header height */
    padding: 20px;
    min-height: 80vh; /* Minimum height with footer */
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: #333;
}

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - 30px * 2);
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.site-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px;
}


.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px;
}
  
.footer-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - 30px / 2);
}

.footer-col-2 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - 30px / 2);
}

.footer-col-3 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - 30px / 2);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}