<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">WHITEDEC BLOG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/docs/">DOCs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects/">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/media-contents/">Media Contents</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        {{ content }}
    </div>
    <footer class="site-footer">
      
        <div>      
          <div class="footer-col-wrapper" id="foot_arr">
                <div class="footer-col col-2">
                    <ul class="contact-list">
                        <li>Email : <a href="mailto:jessekim80@gmail.com">jessekim80@gmail.com</a></li>
                    </ul>
                </div>
        
                <div class="footer-col  col-1 social-media-list">
                    <a href="https://github.com/whitedec"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>
                        <span>whitedec</span>
                    </a>
                </div>
        
                <div class="footer-col col-9">
                    <p>Jesse Kim의 Coding Study 블로그입니다. 저는 웹앱이나 모바일앱을 개발하여 퍼블리싱 하는 개발자이며 주로 사용하는 언어는 Python이며 Framework는 장고를 이용하여 개발하고 있습니다.<br>    
                        Welcome to Jesse Kim&#39;s Coding Study blog. I am a developer who specializes in developing and publishing web and mobile applications. My primary programming language is Python, and I mainly use the Django framework for development.<br>
                    </p>
                </div>
          </div>
      
        </div>    
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

