<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header class="header">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/docs/">DOCs</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/media-contents/">Media Contents</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {{ content }}
    </div>
    <footer class="site-footer">
      
        <div class="wrapper">
      
          <h2 class="footer-heading">Whitedec Blog</h2>
      
          <div class="footer-col-wrapper">
                <div class="footer-col footer-col-1">
                    <ul class="contact-list">
                        <li><a href="mailto:jessekim80@gmail.com">jessekim80@gmail.com</a></li>
                    </ul>
                </div>
        
                <div class="footer-col footer-col-2">
                    <ul class="social-media-list">
                        <li><a href="https://github.com/whitedec">
                            <svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                            </svg> 
                            <span class="username">whitedec</span>
                            </a>
                        </li>
                    </ul>
                </div>
        
                <div class="footer-col footer-col-3">
                    <p>Jesse Kim의 Coding Study 블로그입니다. 저는 웹앱이나 모바일앱을 개발하여 퍼블리싱 하는 개발자이며 주로 사용하는 언어는 Python이며 Framework는 장고를 이용하여 개발하고 있습니다.<br>    
                        Welcome to Jesse Kim&#39;s Coding Study blog. I am a developer who specializes in developing and publishing web and mobile applications. My primary programming language is Python, and I mainly use the Django framework for development.<br>
                        ジェシー・キムのコーディングスタディブログへようこそ。私はウェブアプリやモバイルアプリを開発してパブリッシングする開発者で、主に使用している言語はPythonで、フレームワークはDjangoを使用して開発しています。
                    </p>
                </div>
          </div>
      
        </div>
      
    </footer>
</body>
</html>

